/// Colours
$colours: (
		black: #000,
		white: #fff,
		primary: #5e81ac,
		primary-light: #81a1c1,
		grey: #434c5e,
		grey-dark: #2e3440,
		grey-light: #e5e9f0,
		grey-lighter: #eceff4
	)
	!default;

/// Font
$family-header: quote(Odibee Sans), system-ui, sans-serif;
$family-base: quote(Ubuntu), system-ui, sans-serif;

$headings: (h1: 50px, h2: 35px, h3: 30px, h4: 25px, h5: 20px, h6: 18px) !default;

$font-md: 17px;
$font-base: 16px;
$font-sm: 14px;
$font-xs: 12px;
$font-hero: 122px;

$weight: 400;
$weight-light: 100;
$weight-heavy: 700;
